@page
@{
}

<h3 style="align:center">Sakshi</h3>
<body style="align:center">
<form method="get">
   
    <input type="number" placeholder="Enter first number" /> <br />
    <input type="number" placeholder="Enter second value" /> <br />
    <output>Output: </output><br />
    <input type="submit" value="Submit" />
</form>
</body>


}