@page
@{
}

<h3 style="align-content:center; color:aqua">Pruthvi Soni</h3>
<body style="align-content:center">
<form method="get">
   
    <input type="number" placeholder="Enter first number" /> <br />
    <input type="number" placeholder="Enter second value" /> <br />
    <output>Output: </output><br />
    <input type="submit" value="Submit" />
</form>
</body>

@section IntroScript
{
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Porta non pulvinar neque laoreet suspendisse interdum consectetur. Sapien et ligula ullamcorper malesuada. Imperdiet proin fermentum leo vel. Ac ut consequat semper viverra nam libero. Facilisis mauris sit amet massa vitae tortor condimentum lacinia. Id faucibus nisl tincidunt eget nullam non nisi est. Facilisi nullam vehicula ipsum a arcu cursus. Etiam erat velit scelerisque in dictum non consectetur a. Sit amet mattis vulputate enim nulla. Massa tempor nec feugiat nisl pretium fusce. Sit amet justo donec enim diam vulputate.
    </p>
}